div#content-list-area {
    position: relative;
    display: block;
    width: 100%;
    height:600px;
    background: #000;
    border-top:3px solid white;
    border-bottom: 0px;
    border-left:0px;
    border-right:0px;
}
#list{
    position: relative;
    display: block;
    color:black;
    border:2px solid red;
    list-style: none;
    padding: 0px;
    margin:0px;
}
li.content-box {
    position: relative;
    display: inline-block;
    height:300px;
    width:360px;
    padding: 0px;
    margin: 0px;
    /*background-color: blue;*/
}
div.content-box-elements-container {
    position: relative;
    display: block;
    /*background: linear-gradient( black, black, transparent);*/
    /*border:2px solid red;*/
    width: 100%;
    height:100%;;
    padding: 0px;
    margin:0px;
    z-index: 3;
}
div.preview-elements-container {
    position: relative;
    display: block;
    width:100%;
    height:100%;
    padding: 0px;
    margin:0px;
}
div.card-container {
    position: relative;
    display: block;
    width:100%;
    height:200px;
    /*border-bottom:1px solid pink;*/
    padding:0px;
    margin:0px;
    z-index:3;
    overflow: hidden;
    /*background: linear-gradient( black, black, transparent);*/
}

div.underlying-preview-container{
    height:200px;
    width:356px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: -1;
    top:-200px;
}
img.underlying-preview{
    display: block;
    position: relative;
    /*z-index: -1;*/
    /*top:-200px;*/
    /*border:5px solid yellow;*/
}
div.card-type-container {
    position: relative;
    display: block;
    width:100%;
    height:30px;
    margin: 0px;
    padding: 0px;
}
p.card-type {
    position: relative;
    font-variant: small-caps;
    color:rgba(255,255,255,0.8);
    padding:0px;
    margin: 0px;
    top:-4px;
    text-align:left;
    font-family: Muli;
    font-size:25px;
}
div.type-news{
    background: linear-gradient(darkslategrey, transparent);
}
div.news {
    /*background-color:lightslategray;*/
    width:100%;
}
div.video {
    background-color: red;
    width:100%;
}
div.image{
    background-color:purple;
    width:100%;
}
div.headline-container {
    margin-top:2px;
    font-weight:600;
    top:10px;
    margin-left:3px;
}
p.headline-text {
    padding: 3px 3px 0px 0px;
    margin: 0px;
    font-family: Muli;
    font-size:14px;
    line-height:14px;
    font-style:oblique;
}
div.long-text-container {
    padding: 10px 3px 0px 0px;
}
p.long-text {
    font-family:Muli;
    font-size:12px;
    line-height:12px;
    padding: 0px;
}
div.call-to-action-container {

}
button.call-to-action-button{
    display: block;
    position: relative;
    padding: 0px;
    border:1px solid whitesmoke;
    text-align: center;
    margin:auto;
}
div.details-container {
    position: relative;
    display: block;
    width:100%;
    height:100px;
    top:-200px;
}
div.details-container p{
    /*color:black;*/
    font-family: Muli;
    /*font-variant:all-petite-caps;*/
}
div.status-and-views-container {
    display: block;
    /*height:20px;*/
    width: 100%;
}
div.status-container {
    display: inline;
    width: 60px;
    padding-left:2px;
    margin:1px;
}
p.status-text {
    position: relative;
    display: inline-block;
    font-variant: small-caps;
    font-style: italic;
    color:white;
    background-color:red;
    font-size:18px;
    border:1px solid white;
    top:-15px;
    left:-15px;
    margin:0px;
    padding: 1px 1px 1px 1px;
    width:50px;
}

div.enter-deepstream{
    display: block;
    position: relative;
    top: -260px;
    z-index: 5;
    margin: auto;
    width: 100%;
    height: 40px;
    text-align: center;
}
svg.enter-svg{
    display: inline-block;
}
input.circle-button{
    background-color:red;
    border-radius:80px;
    border:1px solid white;
    min-height:50px;
    white-space: normal;
}
div.current-viewers-container {
    display: inline-block;
    width: 80px;
    padding-right:2px;
    float:right;

}
p.current-viewers-text {
    width:100%;
    color:lightgray;
    text-align:right;
    padding:0px;
    margin:0px;
    font-size:12px;
}
div.title-container {
    display: block;
    padding: 0px 0px 0px 3px;
    margin:0px;
    
}
p.title-text {
    color:black;
    font-size:13px;
    line-height: 13px;
    font-weight:600;
    padding:0px;
    color:white;
    margin:0px;
    text-decoration: underline;
    
}
div.author-container {
    display: block;
    padding: 0px 0px 0px 3px;
    margin:0px;
}
p.author-text {
    font-size:11px;
    font-family:Muli;
    font-style:italic;
    color:white;
    padding:0px;
    margin:1px;
}
div.tags-container {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
ul.tags-list{
    list-style: none;
    display: block;
    padding: 0px 0px 0px 3px;
    margin:0px;
}
li.content-tag{
    position: relative;
    display: inline;
    padding: 0px;
    margin:0px;
    color:white;
}
p.tag-name{
    padding: 0px;
    margin:1px;
    display: inline-block;
    background-color:darkorchid;
    font-family:Muli;
    font-size:12px;
}
